html, body {
    min-height: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: lightgray;
    text-align: center;
    font-family: sans-serif;
    color: #fefefe;
  }

  header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
  }

  nav {
    background-color: #555;
    text-align: center;
  }

  nav a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    display: inline-block;
  }

  nav a:hover {
    background-color: #444;
  }

  .content {
    padding: 20px;
  }

  img {
    max-width: 100%;
    height: auto;
  }

ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }

  li:last-child {
    border-bottom: none;
  }

  .slides-list{

    list-style-type: none;
    margin: 10px 0;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }